.wrapNav {
    background-color: #3949ab;
    width: 100%;
    height: 50px;
    box-shadow: 0 0 5px;
    display: flex;
}


.wrapNav  a {
    padding: 12px 10px;
    font-size: 15px;
    border-radius: 8px;
    color: wheat;
}