.data table tr td, .data table tr th {
    text-align: center;
    font-size: 20px;
}

.data {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.data a  {
    margin: 20px auto;
    width: 150px;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.data i {
    font-size: 25px;
    margin: 0 0 0 2px;
    cursor: pointer;
}

@media (max-width: 400px) {
    .data table tr td, .data table tr th{
        font-size: 15px;
    }
}