.RpInfo {
    margin-top: 80px;
}
.RpInfo h1 {
    font-size: 30px;
    margin: 0 0 50px 0;
    text-align: center;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.red {
    background: red;
}

.card {
    border: solid 1px;
    border-top: none;
}

.border {
    height: 50px;
    border: 1px solid;
}

.active {
    background: #b3e5fc;
    border-bottom: 1px solid #b3e5fc;
    font-size: 20px;
}
.content, .activeText {
    display: flex;
    justify-content: space-around;
    border: solid 1px;

}

.content p, .activeText p {
    margin: 8px 0;
    font-size: 20px;
}

.content label, .activeText label {
    margin-top: 10px;
}
.activeText{
    text-decoration: line-through;
}

/*++++++++++++++++++!*ShootingRp*!*/

.ShootingRpWrapper {
    margin-bottom: 0 !important;
    border-top: solid 1px;
    border-bottom: solid 1px;

}

.ShootingRpWrapper p {
    margin-top: 30px!important;
    font-size: 18px;

}