.Flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.block {
    display: block;
}

@media (max-width: 600px) {
    .Flex {
        display: none;
    }
}